name: Reusable workflow
on: 
  workflow_call:
    inputs:
      value:
        description: sample value
        required: false
        default: hi
        type: string
    secrets:
      password:
        description: sensitive
        required: true
        type: string
jobs: 
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |
          echo "${{ inputs.value }}"
          echo "${{ secrets.password }}"

      